.carousel-container {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.carousel-container .carousel {
  display: -webkit-inline-box;
  height: auto;
  width: 100%;
  position: relative;
  background-color: #242424;
  overflow: hidden;
}

.carousel-container .carousel .next {
  z-index: 99;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  position: absolute;
  top: 42%;
  right: 10px;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: rgba(34, 34, 34, 0.2);
  cursor: pointer;
}

.carousel-container .carousel .next:hover {
  background-color: rgba(196, 196, 196, 0.1);
}

.carousel-container .carousel .next::after {
  content: "";
  position: absolute;
  top: -18px;
  right: -11px;
  width: 39px;
  height: 40px;
  background-color: transparent;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 15px solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.carousel-container .carousel .next::before {
  content: "";
  position: absolute;
  top: 38px;
  right: -11px;
  width: 39px;
  height: 40px;
  background-color: transparent;
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.carousel-container .carousel .back {
  z-index: 99;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  position: absolute;
  top: 42%;
  left: 10px;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: rgba(34, 34, 34, 0.2);
  cursor: pointer;
}

.carousel-container .carousel .back:hover {
  background-color: rgba(196, 196, 196, 0.1);
}

.carousel-container .carousel .back::after {
  content: "";
  position: absolute;
  top: -31px;
  right: 35px;
  width: 39px;
  height: 40px;
  background-color: transparent;
  border-top: 15px solid white;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 15px solid transparent;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.carousel-container .carousel .back::before {
  content: "";
  position: absolute;
  top: 36px;
  right: 35px;
  width: 39px;
  height: 40px;
  background-color: transparent;
  border-top: 15px solid white;
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.carousel-container .carousel .indicator-container {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

.carousel-container .carousel .indicator-container .indicator-img {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgba(214, 214, 214, 0.5);
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}

.carousel-container .carousel .indicator-container .indicator-img:hover {
  width: 10px;
  height: 10px;
  background-color: rgba(202, 202, 202, 0.2);
  border: 5px solid rgba(88, 88, 88, 0.5);
}

.carousel-container .carousel .indicator-container .indicator-img:first-child {
  background-color: white;
}

.carousel-container .carousel .carousel-section {
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  width: 100%;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: 0;
}

.carousel-container .carousel .carousel-section .container-image {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 20px;
}

.carousel-container .carousel .carousel-section .container-image .image {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 50%;
  height: auto;
}

.carousel-container .carousel .carousel-section .container-image .title-image {
  position: relative;
  top: 0px;
  margin: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}

.carousel-container .carousel .carousel-section .container-image .description-image {
  position: relative;
  display: inline-block;
  margin: 5px;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  text-justify: newspaper;
  color: gray;
  width: 80%;
}

.carousel-container .close {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.carousel-container .close::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 25px;
  width: 50px;
  height: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
}

.carousel-container .close::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 25px;
  width: 50px;
  height: 5px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: white;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .modal-form .container-section .section-modal .container-img .img {
    width: 20%;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 1025px) and (max-width: 1280px) {
  .modal-form .container-section .section-modal .container-img .img {
    width: 70%;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {
  .modal-form .container-section .section-modal .container-img .img {
    width: 100%;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .modal-form .container-section .section-modal .container-img .img {
    width: 80%;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
@media (min-width: 481px) and (max-width: 767px) {
  .modal-form .container-section .section-modal .container-img .img {
    width: 90%;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media (min-width: 320px) and (max-width: 480px) {
  .modal-form .container-section .section-modal .container-img .img {
    width: 90%;
  }
}

@media (min-width: 0px) and (max-width: 319px) {
  .modal-form .container-section .section-modal .container-img .img {
    width: 90%;
  }
}

.primary {
  background-color: #4343d8;
}

.secondary {
  background-color: #53e053;
}

.default {
  background-color: #a5a5a5;
}

.warning {
  background-color: #e6e659;
}

.blue-baby {
  background-color: #32AB9F;
}

.blue-dark {
  background-color: #4B86B4;
}

.pink-smooth {
  background-color: #F96161;
}

.skin-color {
  background-color: #E0CDA7;
}

.durty-color {
  background-color: #6B4423;
}

.dark-color {
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=IZIComponents.css.map */