$main_transition_duration : .5s;
@mixin  Close-form($deg, $color){
    content: "";
    position: absolute  ;
    right: 0px;
    top: 25px;
    width: 50px;
    height: 5px;
    transform: rotate($deg+deg);
    background-color: $color;
}

 .carousel-container{
    background-color: rgba($color: #000000, $alpha: 0.5);
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
    transition-duration: $main_transition_duration;

    .carousel{
        display: -webkit-inline-box;
        height: auto;
        width: 100%;
        position: relative;
        background-color: #242424;
        overflow: hidden;
       
        .next{
            z-index: 99;
            transition-duration: .5s;
            position: absolute;
            top: 42%;
            right: 10px;
            width: 75px;
            height: 75px;
            border-radius: 100px;
            background-color: rgba(34, 34, 34, 0.2);
            cursor: pointer;
            
            &:hover{
               background-color: rgba(196, 196, 196, 0.1);  
            }
            &::after{
                content: "";
                position: absolute;
                top: -18px;
                right: -11px;
                width: 39px;
                height: 40px;
                background-color: transparent;
                border-left: 15px solid transparent;
                border-right: 0px solid transparent;
                border-bottom: 15px solid white;
                transform: rotate(45deg);
            }
            &::before{
                content: "";
                position: absolute;
                top: 38px;
                right: -11px;
                width: 39px;
                height: 40px;
                background-color: transparent;
                border-left: 0px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid white;
                transform: rotate(135deg);
            }
        }
        .back{
                z-index: 99;
                
                transition-duration: .5s;
                position: absolute;
                top: 42%;
                left: 10px;
                width: 75px;
                height: 75px;
                border-radius: 100px;
                background-color:  rgba(34, 34, 34, 0.2);
                cursor: pointer;

                &:hover{
                    background-color:  rgba(196, 196, 196, 0.1);
                 }

                &::after{
                    content: "";
                    position: absolute;
                    top: -31px;
                    right: 35px;
                    width: 39px;
                    height: 40px;
                    background-color: transparent;
                    border-top: 15px solid white;
                    border-left: 15px solid transparent;
                    border-right: 0px solid transparent;
                    border-bottom: 15px solid transparent;
                    transform: rotate(135deg);
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 36px;
                    right: 35px;
                    width: 39px;
                    height: 40px;
                    background-color: transparent;
                    border-top: 15px solid white;
                    border-left: 0px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    transform: rotate(45deg);
                }
        }
        .indicator-container{
                position: absolute;
                bottom: 10px;
                left: 0;
                width: 100%;
                height: 30px;
                background-color:transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow-x: hidden;

                .indicator-img{
                    position: relative;
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    background-color: rgba(214, 214, 214, 0.5);
                    margin-left: 3px;
                    margin-right: 3px;
                    cursor: pointer;
                    
                    &:hover{
                        // transition-duration: .5s;
                        width: 10px;
                        height: 10px;
                        background-color: rgba(202, 202, 202, 0.2);
                        border: 5px solid  rgba(88, 88, 88, 0.5);
                    }
                    &:first-child{
                        background-color: white;
                    }
                }
        }
        .carousel-section{
            transition-duration: .7s;
            animation-duration: .5s;
            width: 100%;
            height: auto;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            left:0;
        
            .container-image{
                margin-block-start: 0;
                margin-block-end: 0;
                margin-inline-start: 0;
                margin-inline-end: 0;
                width: 100%;
                height: auto;
                text-align: center;
                padding-bottom: 20px ;
                
                .image{
                    transition-duration: $main_transition_duration;
                    width: 50%;
                    height: auto;
                }
                .title-image{
                    position: relative;
                    top: 0px;
                    margin: 5px;
                    font-size: 25px;
                    font-weight: bold;
                    font-family: sans-serif;
                    color: white;
                }
                .description-image{
                    position: relative;
                    display: inline-block;
                    margin: 5px;
                    font-size: 18px;
                    font-family: sans-serif;
                    text-align:center;
                    text-justify: newspaper;
                    color: gray;
                    width: 80% ;
                }
            }
            
         
        }
    }
    
    .close{
            position: absolute;
            right: 0px;
            top: 0px;
            width: 50px;
            height: 50px;
            background-color: transparent;
            text-align: center;
            font-size: 40px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            cursor: pointer;

            &::after{
               @include Close-form(45,white);
            }

            &::before{
               @include Close-form(135,white);
            
            }
    }
 }

