

.primary{
    background-color: rgb(67, 67, 216);
}

.secondary{
    background-color: rgb(83, 224, 83);
}

.default{
    background-color: rgb(165, 165, 165);
}

.warning{
    background-color: rgb(230, 230, 89);
}

.blue-baby{
    background-color:#32AB9F;
}

.blue-dark{
    background-color:#4B86B4;
}

.pink-smooth{
    background-color:#F96161;
}

.skin-color{
    background-color:#E0CDA7;
}

.durty-color{
    background-color:#6B4423;
}

.dark-color{
    background-color:rgb(36, 36, 36);

}

